@import '~normalize.css/normalize.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';

body {
    background-color: #293742;
}

.bp3-tab-panel {
    width: 100%
}

.badge-notif {
   position:relative;
   outline: 0;
}

.badge-notif[data-badge]:after {
   content: attr(data-badge);
   position: absolute;
   top: 0px;
   right: 0px;
   z-index: 99;
   font-size: 0.8em;
    font-weight: bolder;
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "Icons16", sans-serif;
   color: white;
   width: 18px;
   height: 18px;
   background:#A82A2ABB;
   text-align:center;
   line-height:18px;
   border-radius:50%;
}